{include file='public/head'}
<div class="x-body">
    <blockquote class="layui-elem-quote">
        <font style="font-size: 15px ;"> 欢迎使用LotusAdmin后台极速开发框架！开发者：<a href="https://www.waytomilky.com/" style="color:blue">闻海南</a>   专业技术指导qq群(付费5元):</font><a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=e5fcff77e702a32b0aebba36f9daa43a4158d91141f9d7a3e2bd6cdeecc6840e"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="LotusAdmin极速开发框架" title="LotusAdmin极速开发框架"></a>
    </blockquote>
     

    <fieldset class="layui-elem-field">
            <legend>数据统计</legend>
            <div class="layui-field-box">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                                <div carousel-item="">
                                    <ul class="layui-row layui-col-space10 layui-this">
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>文章数</h3>
                                                <p>
                                                    <cite>66</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>会员数</h3>
                                                <p>
                                                    <cite>12</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>回复数</h3>
                                                <p>
                                                    <cite>99</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>商品数</h3>
                                                <p>
                                                    <cite>67</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>文章数</h3>
                                                <p>
                                                    <cite>67</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs2">
                                            <a href="javascript:;" class="x-admin-backlog-body">
                                                <h3>文章数</h3>
                                                <p>
                                                    <cite>6766</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>


        <fieldset class="layui-elem-field">
            <legend>系统通知</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
                    <tbody>
                        <tr>
                            <td>
                                <a class="x-a" href="/" target="_blank">新版LotusAdmin 2.0上线了</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="x-a" href="/" target="_blank">专业技术指导qq群(付费5元):606645328</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>



  <!--   <fieldset class="layui-elem-field">
        <legend>
            别走,给颗star
        </legend>
        <div class="layui-field-box">
           <script   src='//gitee.com/wenhainan/LotusAdmin/star_widget_preview'></script>
        </div>
    </fieldset> -->

    <fieldset class="layui-elem-field">
        <legend>
            仅需49元购买源码(付款后保留付款单号,加作者qq 610176732 获取源码)
        </legend>
        <div class="layui-field-box">
            <img height="250px;" src="__images__/wechat.jpg">
        </div>
    </fieldset>



    <fieldset class="layui-elem-field">
        <legend>
            信息统计
        </legend>
        <div class="layui-field-box">
            <table class="layui-table" lay-even="">
                <thead>
                    <tr>
                        <th>
                            统计
                        </th>
                        <th>
                            资讯库
                        </th>
                        <th>
                            图片库
                        </th>
                        <th>
                            产品库
                        </th>
                        <th>
                            用户
                        </th>
                        <th>
                            管理员
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            总数
                        </td>
                        <td>
                            92
                        </td>
                        <td>
                            9
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            8
                        </td>
                        <td>
                            20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            今日
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            昨日
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            本周
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            本月
                        </td>
                        <td>
                            2
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">
                            服务器信息
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th width="30%">
                            服务器计算机名
                        </th>
                        <td>
                            <span id="lbServerName">
                                http://127.0.0.1/
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器IP地址
                        </td>
                        <td>
                            192.168.1.1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器域名
                        </td>
                        <td>
                            www.wen2b.com
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器端口
                        </td>
                        <td>
                            80
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器NGINX版本
                        </td>
                        <td>
                            1.8
                        </td>
                    </tr>
                    <tr>
                        <td>
                            本文件所在文件夹
                        </td>
                        <td>
                            D:\WebSite\HanXiPuTai.com\XinYiCMS.Web\
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器操作系统
                        </td>
                        <td>
                            Centeros7.3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            系统所在文件夹
                        </td>
                        <td>
                            \www\wwwroot\LotusAdmin
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器脚本超时时间
                        </td>
                        <td>
                            30000秒
                        </td>
                    </tr>
                    <tr>
                        <td>
                            服务器的语言种类
                        </td>
                        <td>
                            Chinese (People's Republic of China)
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            服务器当前时间
                        </td>
                        <td>
                            2017-01-01 12:06:23
                        </td>
                    </tr>
                  
                    <tr>
                        <td>
                            服务器上次启动到现在已运行
                        </td>
                        <td>
                            7210分钟
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            CPU 总数
                        </td>
                        <td>
                            1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CPU 类型
                        </td>
                        <td>
                            x86 Family 6 Model 42 Stepping 1, GenuineIntel
                        </td>
                    </tr>
                    <tr>
                        <td>
                            虚拟内存
                        </td>
                        <td>
                            52480M
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前程序占用内存
                        </td>
                        <td>
                            3.29M
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Asp.net所占内存
                        </td>
                        <td>
                            51.46M
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前Session数量
                        </td>
                        <td>
                            8
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前SessionID
                        </td>
                        <td>
                            gznhpwmp34004345jz2q3l45
                        </td>
                    </tr>
                    <tr>
                        <td>
                            当前系统用户名
                        </td>
                        <td>
                            NETWORK SERVICE
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
    <blockquote class="layui-elem-quote layui-quote-nm">
        感谢layui,百度Echarts,jquery,本后台系统由LotusAdmin前端框架提供前端技术支持。
    </blockquote>
</div>
{include file='public/foot'}
