{extend name='base'}
{block name="css"}

{/block}
{block name='content'}
<div class="header">
    <h2 class="logo" style="width: 74px;">
    </h2>
    <ul class="nav">
        <li>
            <a href="https://www.lotusadmin.top">
                首页
            </a>
        </li>


        <li>
            <a href="https://www.kancloud.cn/summer_bloom/lotus_admin/470128" target="_blank">
                文档地址
            </a>
        </li>

        <li>
            <a href="http://www.waytomilky.com" target="_blank">
                闻海南博客
            </a>
        </li>


        <li>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=dd7e59449f559df91ebf5241f392715a2279fe7fadd282315b2cbc80649cb1ab">加入QQ群</a>
        </li>

        <li>
            <a href="javascript:layer.msg('欢迎莅临小站',{offset:'t'})">
                访问量{$view_count}
            </a>
        </li>

        <li>
            <a href="javascript:layer.msg('欢迎莅临小站',{offset:'t'})">
                下载量{$download_count}
            </a>
        </li>

    </ul>
</div>
<div class="swiper-container swiper-container-vertical">
    <div class="swiper-wrapper">

        <div class="swiper-slide page1" style="height: 959px; margin-bottom: 30px; background-image: url('https://ws2.sinaimg.cn/large/005IXWDbly1fz9ydtuz41j311y0pbn67.jpg');">
            <div class="text">
                    <a class="download" href="javascript:show_tip()"></a>
            </div>
        </div>


        <div class="swiper-slide page3" style="width:100%;height: 959px; margin-bottom: 30px;">
            <div class="mb" >
            </div>       
        </div>

       
   
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
        <span class="swiper-pagination-bullet">
        </span>
    </div>
</div>

<!-- <div class="notice">
    <img width="360px" height="" src="./public/pic/wechat.jpg">
</div> -->

{/block}

{block name='script'}
<script src="__module__/layer/layer.js"></script>
<script type="text/javascript">
    view_count();
    $(function(){
            // layer.open({
            //   type: 1,
            //   shade: false,
            //   title: false, //不显示标题
            //   content: $('.notice'), //捕获的元素，注意：最好该指定的元素要存放在body最外层，否则可能被其它的相对元素所影响
            //   cancel: function(){
               
            //     }
            // });

            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                direction: 'vertical',
                slidesPerView: 1,
                paginationClickable: true,
                spaceBetween: 10,
                mousewheelControl: true,
                effect:'coverflow',
                autoplay: 10000
            });

    })
 

    
    function show_tip(){
       var index1 =  layer.confirm('1.本产品个人学习免费,商业项目收费99元,付费用户提供技术支持<br>2.下载后请用户老爷码云star一下,谢谢支持<br>3.如需订制后台请联系<strong style=color:cornflowerblue>开发者QQ: 610176732</strong><br> 4.请勿上传到资源类网站进行出售,我很不喜欢!<br>5.如想请作者喝咖啡,请扫描下图微信二维码' +
           '<img height="300px" style="margin-left: 0px;" src="__static__/images/wechat-sm.png">',
            {
                title:'声明',
                btn:['仓库下载源码','演示'],
                closeBtn:0
            },

            function(){
                    download_count();
                    layer.msg('给颗星支持下项目吧,跳转仓库中...',{icon:1},function () {
                        window.open("https://gitee.com/wenhainan/LotusAdmin");
                    });

                },
                function(){
                    window.open("https://www.lotusadmin.top/admin/index/index.html");   
                }
            );
    }


    function view_count(){
        $.ajax({
                url: "{:url('index/index/view_count')}",
                type: 'get',
                dataType: 'json',
                data: {},
              })
              .done(function() {
                console.log("success");
              })
    }

    function download_count(){
        $.ajax({
            url: "{:url('index/index/download_count')}",
            type: 'get',
            dataType: 'json',
            data: {},
        })
            .done(function() {
                console.log("success");
            })
    }
    

</script>
{/block}
